.header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #dbdbdb;

  &__wrapper {
    width: 1200px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;

    &__logo {
      font-size: 25px;
      font-weight: 900;
      color: black;
      text-decoration: none;
      position: relative;

      &::before {
        content: '';
        bottom: 0;
        right: 0;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: #575353;
        transition: 0.1s;
      }

      &:hover::before {
        width: 100%;
      }
    }

    &__news {
      font-size: 20px;
      font-weight: 500;
      color: black;
      text-decoration: none;
      position: relative;

      &::before {
        content: '';
        bottom: 0;
        right: 0;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: #575353;
        transition: 0.1s;
      }

      &:hover::before {
        width: 100%;
      }
    }

    &__matches {
      font-size: 20px;
      font-weight: 500;
      color: black;
      text-decoration: none;
      position: relative;

      &::before {
        content: '';
        bottom: 0;
        right: 0;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: #575353;
        transition: 0.1s;
      }

      &:hover::before {
        width: 100%;
      }
    }

    &__wrapper {
      display: flex;
    }

    &__item1 {
      padding-right: 10px;
      border-right: 1px solid #dbdbdb;
      color: black;
      text-decoration: none;
      position: relative;

      &:hover {
        opacity: 0.7;
      }
    }

    &__item2 {
      padding-left: 10px;
      color: black;
      text-decoration: none;
      position: relative;

      &::before {
        content: '';
        bottom: 0;
        right: 0;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: #000;
        transition: 0.2s;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
