.person {
  width: 1000px;
  position: absolute;
  padding-top: 110px;
  left: 0;
  right: 0;
  margin: 0 auto;

  &__text {
    color: black;
    margin-top: 10px;
    width: 600;
    font-size: 15px;
  }

  &__text__link {
    color: black;
    margin-top: 10px;
    width: 600;
    font-size: 15px;
  }
}

.person__form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  &__inputs {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20%;
    padding: 5px 5px 5px 5px;
    border: 2px solid black;
    font-size: 15px;
  }

  &__button {
    margin-top: 5px;
    padding: 8px 18px;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    background-color: black;
    outline: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: rgb(5, 170, 69);
    }
  }
}
